@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.contact-form-background {
    background-color: rgb(245, 245, 245);
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    grid-template-areas: "aboutus form"; /* Named grid areas */
    gap: 20px;
    align-items: start;
    min-height: 90vh;
    padding: 5vh 5vw;
}

.aboutus {
    grid-area: aboutus; /* Assign grid area */
    text-align: center;
    max-width: 90%;
    margin-top: 10vh;
}

.aboutus h1, .aboutus p {
    font-family: 'Poppins', sans-serif;
}

.aboutus h1 {
    font-size: calc(1rem + 2vw);
    margin-bottom: 2vh;
}

.aboutus p {
    font-size: calc(0.3rem + 1vw);
    margin-top: 2vh;
}

.aboutus hr {
    width: 50%;
    background-color: rgb(0, 72, 255);
    padding: 2px;
    margin: 2vh auto;
    border-radius: 3px;
}

.contact-form-container {
    grid-area: form; /* Assign grid area */
    min-width: 80%;
    max-width: 600px;
    margin-top: 6vh;
}

.contact-form {
    position: relative;
    background: #fff;
    box-shadow: 2px 7px 7px 0px rgb(0, 0, 0 , .5);
    padding: 40px;
    border-radius: 10px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: relative;
    animation: ease-in-out 2s;
}

.contact-form input, .contact-form textarea {
    font-family: 'Poppins', sans-serif;
    position: relative;
    border: none;
    padding: 1.5vh 1.5vw;
    box-sizing: border-box; /* Include padding in width and height */
    width: 100%; /* Adjust width considering padding */
    box-shadow: 1px 4px 6px 1px rgb(0, 0, 0 , .5);
    border-radius: 0.3rem;
    font-size: 1rem;
}

.contact-form textarea {
    resize: vertical; /* Allow vertical resizing only */
    min-height: 150px; /* Minimum height */
}

.text-box .char-count {
    color: gray;
    font-size: 0.8rem;
    text-align: left;
    margin-top: 8px;
}

.contact-form input:focus, textarea:focus {
    outline: 2px solid rgb(0, 72, 255); /* Focus outline */
}

.contact-form input:focus::placeholder, textarea:focus::placeholder {
    color: transparent;
}

.submit_button {
    padding: 10px;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit_button:hover {
    background-color: rgb(204, 194, 0);
}


.incorrect-input{
    background-color: #ff8d8d;
}

@media (max-width: 600px) {
    .contact-form-background {
        grid-template-columns: 1fr; /* Single column layout */
        grid-template-areas: 
            "aboutus"
            "form";
    }
}

.message-succesfuly-sent-box{
    min-width: 100%;
    max-width: 1900px;
    margin-top: 1vh;
    background-color: #FFC600;
    color: #9DC08B;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-basis: 1fr 1fr;
}
.message-succesfuly-sent-box h1{
    font-size: 21px;
    display: flex;
    justify-content: center;
    color: #1288C5;
    font-weight: bolder;
}

.message-succesfuly-sent-box h1:last-child{
    margin-bottom: 60px;
}

.animating-message-sent{
    margin-top: 40px;
    margin-bottom: 20px;
}
