@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


@keyframes gradientBackground {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.background-login {
    background: linear-gradient(45deg, #a2a0a3, rgb(174, 10, 192), #b4b2b5, #b0058b, #878585, #b00eb0, #c71cc7);
    background-size: 600% 600%;
    animation: gradientBackground 20s ease infinite;
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.container-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box-container-login{
    width: auto ;
    min-width: 20%;
    height: auto;
    background-color: rgba(232, 228, 228, 0.747);
    position: relative;
}

.header-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    padding-top: 20px;
}

.text{
    color: #3c009d;
    font-size: 41px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.underline{
    width: 61px;
    height: 6px;
    background: #3c009d;
    border-radius: 9px;
    position: relative;
}
.inputs{
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 400px;
    height: 48px;
    background: #ebe9e9;
    border-radius: 6px;
    position: relative;
}
.input img{
    margin: 0px 20px;
    height: 16px;
    width: 19px;
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #000000;
    font-size: 16px;
}
.forgot-password{
    padding-left: 40px;
    margin-top: 15px;
    color: #797979;
    font-size: 13px;
    display: flex;
    
}
.forgot-password span{
    color: #4c00b4;
    cursor: pointer;
    padding-left: 5px;
}

.submit-container{
    display: flex;
    gap: 25px;
    margin: 30px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 193px;
    height: 41px;
    color: #fff;
    background-color: #4c00b4;
    border-radius: 13px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    margin-left: 9px;
    border: none;

}
.box-container-signup{
    width: auto ;
    min-width: 20%;
    height: auto;
    background-color: rgba(232, 228, 228, 0.747);
    position: relative;
}
.position-of-both-login-signup{
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centers the buttons horizontally within the container */
  }
.green{
    background-color: rgb(17, 146, 2);
    color: white;
    flex-direction: column;
    width: 396px;
}
.gray{
    background-color: #EAEAEA;
    color: #676767;
}
.submit:hover {
    background-color: #3c009d;
    transition: 0.2s;
}
.green:hover {
    background-color: #17761f;
    transition: 0.3s;
}
.gray:hover{
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
}