@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

.page-not-found {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center children vertically */
    align-items: center; /* Center children horizontally */
    font-family: 'Lemon', serif;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: aliceblue; /* Center text for all child elements */
}

  
.green-screen-video {
  object-fit: cover;
  width: 40vh;
  height: 40vh;
  position: fixed;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: transparent;
  display: flex;
}